.sablon {width: 740px; height: auto; margin: 30px auto;}
.logo {width: 100px; height: 100px; float: left;}
.banner {width: 630px; height:100px ; float: left; margin: 0 0 0 10px;}
.menu {width: 580px; height: 47px; float: left; margin: 10px 0 0 0;}
.sosyal {width: 150px; height: 47px; float: left; margin: 10px 0 0 10px;}
.orta1 {width: 740px; height: 348px; float: left;  margin: 10px 0 10px 0;}
.orta2 {width: 240px; height: 240px; float: left; }
.orta3 {width: 240px; height: 240px; float: left; margin: 0 0 0 10px;}
.orta4 {width: 240px; height: 240px; float: left; margin: 0 0 0 10px;}
.alt {width: 740px; height: 90px; float: left; margin: 10px 0 0 0;}