.menu1 {width: 130px; height: 160px; margin: 10px 0 0 0;}
.menu1 ul {margin: 0 ; padding: 0; list-style: none;}

.menu1 ul li a {display: block; width: 125px; height: 24px; background-color: #fcc; color: #930; font: bold 12px tahoma; text-decoration: none; padding: 8px 0 0 5px;}
.menu1 ul li a:hover {color: #fff; background-color: #930 ; }


